doctype html
head
	meta(charset='utf-8', name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
	title= 'DEER MAP'

	// Stylesheets
	link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	// Javascript
	script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')

body
	#map
		script.
			var map =  L.mapbox.map('map', 'eychen2014.hme0hhgm', {minZoom: 15, maxZoom: 20, maxBounds: [[40.335589, -74.672224], [40.354200, -74.643299]]}).setView([40.346056,-74.654007], 16);

- for row in dataRows
	script.
		var lat = "#{row.lat}";
		var longit = "#{row.longit}";
		var subject = "#{row.subject}";
		var food = "#{row.food}";
		var message = "#{row.mess}";

		L.mapbox.featureLayer({
			// this feature is in the GeoJSON format: see geojson.org
			// for the full specification
			type: 'Feature',
			geometry: {
				type: 'Point',
				// coordinates here are in longitude, latitude order because
				// x, y is the standard for GeoJSON and many formats
				coordinates: [parseFloat(longit), parseFloat(lat)]
			},
			properties: {
				title: subject,
				description: message,
				// one can customize markers by adding simplestyle properties
				// http://mapbox.com/developers/simplestyle/
				'marker-size': 'small',
				'marker-color': '#f0a'
			}
		}).addTo(map);

	body 
		div#overlay
			div.list-group
				a.list-group-item.active(href='#')
					h4.list-group-item-heading #{row.subject}
					p.list-group-item-text #{row.mess}